.main {
    padding: 32px;
}

.column_question_list {
    padding-right: 32px;
} 

section {
    display: contents;
}

input {
    float: left;
}

p {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

div {
    padding-left: 5px;
}

.hide {
    display: none;
}

.mt_5px {
    margin-top: 5px;
}

.button {
    width: 100px;
    padding: 3px;
    margin: 5px;
}

.wrongAnswer {
    color: red;
}
