.main {
    padding: 32px;
}

.goToInputStyle {
    padding-left: 15px;
    margin-left: 15px;
    width: 70px;
    float: initial;
}

.column_question_list {
    padding-right: 32px;
} 

section {
    display: inline;
}

input {
    float: left;
}

p {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

div {
    padding-left: 5px;
}

.hide {
    display: none;
}

.mt_5px {
    margin-top: 5px;
}

.button {
    width: 100px;
    padding: 3px;
    margin: 5px;
}

.next {
    color: green;
}

.result {
    color: black;
}

.wrongAnswer {
    color: red;
}

.answersList {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(80px, 0.4fr));
    grid-gap: 3vw;
    padding: 0px 32px 0px 32px;
}

.selectedQuestion {
    background-color: beige;
}

.options {
    padding-left: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: larger;
        width: 120px;
        padding: 5px;
        margin: 5px;
    }
}